@import url(@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&display=swap');

:root {
    --cor-principal: #6e859f ;
    --cor-secundaria: rgb(153, 99, 189);
    --cor-destaque: #0d7434;
}

body {
 font-family: "Chakra Petch"; sans-serif;
 color: var(--cor-principal);
}

h1, h2, h5{
    color: var(--cor-secundaria);
    font-weight: 750;
    font-style: italic;
}

.lead, .btn-link {
     color: var(--cor-destaque);
     font-weight: 750;
}

 a, .btn-link:hover {
    color: var(--cor-principal);
}

a:hover {
    color: var(--cor-destaque);
}